* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info {
  color: #999;
  font-size: 12px;
  font-weight: 600;
}
.hideButton {
  display: none;
}
.letters {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.letterContainer {
  display: flex;
  align-items: center;
  background-color: #b4b4b4;
  border-radius: 8px;
  height: 100px;
  width: 60px;
  border-bottom: 4px solid #000;
}
.letter {
  font-size: 60px;
  display: none;
}
.displayLetter {
  display: block;
}
.appear {
  fill: "black";
}
